@use "/src/assets/styles/mixins" as *;

.notification-container {
  position: relative;
  &__button {
    @include flex-center(flex-start, center);

    padding: 10px;
    gap: 10px;
    background-color: inherit;
  }
  &__list {
    position: absolute;
    right: 0%;
    display: flex;
    flex-direction: column;
    top: 100%;
    z-index: 999;
    width: 400px;
    background: none;
    gap: var(--spacing-md);
    background-color: var(--base-white);
    border-radius: var(--radius-md);
    button {
      background: none;
    }
  }

  &__card {
    @include flex-center(space-between, center);
    padding: var(--space-3);
    background-color: var(--base-white);
    border-radius: var(--radius-md);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-left: var(--space-1) solid transparent;
    transition: border-color 0.2s;
    &-content {
      width: 80%;
      display: flex;
      align-items: center;
      gap: var(--spacing-xl);
      p {
        @include text-style(fg-secondary-700, text-sm, 400, text-sm);
        text-overflow: ellipsis;
        width: 280px;
      }
      svg {
        width: 40px;
        height: 40px;
      }
    }
    &-delete {
      align-self: baseline;
    }
  }
  &-outside-click {
    position: fixed;
    inset: 0px;
    z-index: 10;
    opacity: 0;
  }
}
