:root {
  --base-white: #ffffff;
  --base-black: #000000;

  --gray-light-25: #fcfcfd;
  --gray-light-50: #f9fafb;
  --gray-light-100: #f2f4f7;
  --gray-light-200: #e4e7ec;
  --gray-light-300: #d0d5dd;
  --gray-light-400: #98a2b3;
  --gray-light-500: #667085;
  --gray-light-600: #475467;
  --gray-light-700: #344054;
  --gray-light-800: #182230;
  --gray-light-900: #101828;
  --gray-light-950: #0c111d;

  --gray-dark-25: #fafafa;
  --gray-dark-50: #f5f5f6;
  --gray-dark-100: #f0f1f1;
  --gray-dark-200: #ececed;
  --gray-dark-300: #cecfd2;
  --gray-dark-400: #94969c;
  --gray-dark-500: #85888e;
  --gray-dark-600: #61646c;
  --gray-dark-700: #333741;
  --gray-dark-800: #1f242f;
  --gray-dark-900: #161b26;
  --gray-dark-950: #0c111d;


  --gray-atolla-25: #fbfdff;
  --gray-atolla-50: #f4f7fa;
  --gray-atolla-100: #e9eef5;
  --gray-atolla-200: #d2ddeb;
  --gray-atolla-300: #b3c7dd;
  --gray-atolla-400: #8ea9cc;
  --gray-atolla-500: #738fbe;
  --gray-atolla-600: #6178af;
  --gray-atolla-700: #5568a0;
  --gray-atolla-800: #4a5683;
  --gray-atolla-900: #3f4a69;
  --gray-atolla-950: #292f42;

  --brand-25: #f4f9ff;
  --brand-50: #eff8ff;
  --brand-100: #d1e9ff;
  --brand-200: #b2ddff;
  --brand-300: #84caff;
  --brand-400: #53b1fd;
  --brand-500: #2e90fa;
  --brand-600: #156fee;
  --brand-700: #175cd3;
  --brand-800: #1849a9;
  --brand-900: #194084;
  --brand-950: #102a56;

  --error-25: #fefafa;
  --error-50: #fef2f1;
  --error-100: #fee3e1;
  --error-200: #fecdc9;
  --error-300: #fca19b;
  --error-400: #f97066;
  --error-500: #f04437;
  --error-600: #d92c20;
  --error-700: #b32218;
  --error-800: #901f17;
  --error-900: #7a2619;
  --error-950: #54150c;

  --warning-25: #fffcf4;
  --warning-50: #fff9eb;
  --warning-100: #feefc6;
  --warning-200: #fede88;
  --warning-300: #fec84a;
  --warning-400: #fcb022;
  --warning-500: #f78f08;
  --warning-600: #db6803;
  --warning-700: #b54707;
  --warning-800: #93370c;
  --warning-900: #792d0d;
  --warning-950: #4e1d08;

  --success-25: #f5fdf9;
  --success-50: #ecfcf2;
  --success-100: #dbf9e6;
  --success-200: #aaefc6;
  --success-300: #75dfa6;
  --success-400: #47cd89;
  --success-500: #17b169;
  --success-600: #069454;
  --success-700: #057647;
  --success-800: #075d39;
  --success-900: #074c30;
  --success-950: #043320;



  // utilities
  --utility-indigo-400: #8098F9;
  /* gray blue */
  --gray-blue-25: #fbfcfc;
  --gray-blue-50: #f8f8fb;
  --gray-blue-100: #eaebf5;
  --gray-blue-200: #d5d8eb;
  --gray-blue-300: #b2b8db;
  --gray-blue-400: #707abc;
  --gray-blue-500: #4e5aa6;
  --gray-blue-600: #3e4783;
  --gray-blue-700: #353e72;
  --gray-blue-800: #283056;
  --gray-blue-900: #101222;
  --gray-blue-950: #0d0f1b;
  /* gray cool */
  --gray-cool-25: #fbfcfc;
  --gray-cool-50: #f8f9fb;
  --gray-cool-100: #eff0f5;
  --gray-cool-200: #dcdfe9;
  --gray-cool-300: #b9bfd4;
  --gray-cool-400: #7d89af;
  --gray-cool-500: #5d6a97;
  --gray-cool-600: #495478;
  --gray-cool-700: #3f4968;
  --gray-cool-800: #30374e;
  --gray-cool-900: #111321;
  --gray-cool-950: #0e101b;
  /* gray modern */
  --gray-modern-25: #fbfcfc;
  --gray-modern-50: #f8f9fb;
  --gray-modern-100: #eef2f6;
  --gray-modern-200: #e3e8ee;
  --gray-modern-300: #cdd4de;
  --gray-modern-400: #99a3b2;
  --gray-modern-500: #697485;
  --gray-modern-600: #4a5565;
  --gray-modern-700: #354152;
  --gray-modern-800: #1f2939;
  --gray-modern-900: #111826;
  --gray-modern-950: #0d121c;
  /* gray neutral */
  --gray-neutral-25: #fbfcfc;
  --gray-neutral-50: #f3f4f5;
  --gray-neutral-100: #e5e7ea;
  --gray-neutral-200: #e5e7eb;
  --gray-neutral-300: #d1d5da;
  --gray-neutral-400: #9ca3ae;
  --gray-neutral-500: #6c727e;
  --gray-neutral-600: #4c5661;
  --gray-neutral-700: #374150;
  --gray-neutral-800: #1f2936;
  --gray-neutral-900: #111826;
  --gray-neutral-950: #0d121c;
  /* gray iron */
  --gray-iron-25: #fcfcfd;
  --gray-iron-50: #fafafa;
  --gray-iron-100: #f3f3f5;
  --gray-iron-200: #e3e3e7;
  --gray-iron-300: #d1d1d6;
  --gray-iron-400: #a0a0aa;
  --gray-iron-500: #6f707b;
  --gray-iron-600: #51515b;
  --gray-iron-700: #3e3e46;
  --gray-iron-800: #26262a;
  --gray-iron-900: #1a1a1e;
  --gray-iron-950: #131316;
  /* gray true */
  --gray-true-25: #fcfcfd;
  --gray-true-50: #f7f7f7;
  --gray-true-100: #f5f5f5;
  --gray-true-200: #e5e5e5;
  --gray-true-300: #d6d6d6;
  --gray-true-400: #a3a3a3;
  --gray-true-500: #737373;
  --gray-true-600: #525252;
  --gray-true-700: #424242;
  --gray-true-800: #292929;
  --gray-true-900: #141414;
  --gray-true-950: #0f0f0f;
  /* gray warm */
  --gray-warm-25: #fdfdfc;
  --gray-warm-50: #fafaf8;
  --gray-warm-100: #f5f5f3;
  --gray-warm-200: #e7e4e3;
  --gray-warm-300: #d6d2d0;
  --gray-warm-400: #a8a19d;
  --gray-warm-500: #78706b;
  --gray-warm-600: #57524d;
  --gray-warm-700: #443f3b;
  --gray-warm-800: #292423;
  --gray-warm-900: #1c1816;
  --gray-warm-950: #161312;
  /* moss */
  --moss-25: #f9fcf6;
  --moss-50: #f4faee;
  --moss-100: #e5f4d6;
  --moss-200: #cdeaaf;
  --moss-300: #acdb79;
  --moss-400: #85cb3b;
  --moss-500: #669e2a;
  --moss-600: #4e7a20;
  --moss-700: #3f611a;
  --moss-800: #334f15;
  --moss-900: #2a4211;
  --moss-950: #1a280b;
  /* green light */
  --green-light-25: #fafef5;
  --green-light-50: #f3fde7;
  --green-light-100: #e3fbcb;
  --green-light-200: #cff7aa;
  --green-light-300: #a6ef66;
  --green-light-400: #85e139;
  --green-light-500: #65c51c;
  --green-light-600: #4ba30c;
  --green-light-700: #3a7c0e;
  --green-light-800: #316211;
  --green-light-900: #2b5313;
  --green-light-950: #15290a;
  /* green */
  --green-25: #f6fef9;
  --green-50: #ecfcf1;
  --green-100: #d2f8de;
  --green-200: #aaefc3;
  --green-300: #72e2a3;
  --green-400: #3bcb7e;
  --green-500: #16b264;
  --green-600: #09914f;
  --green-700: #087343;
  --green-800: #095b36;
  --green-900: #084b2e;
  --green-950: #052e1c;
  /* teal */
  --teal-25: #f6fefc;
  --teal-50: #f0fcf9;
  --teal-100: #ccfbef;
  --teal-200: #99f5e0;
  --teal-300: #5ee9cf;
  --teal-400: #2ed2b7;
  --teal-500: #15b69e;
  --teal-600: #0d9383;
  --teal-700: #0f7569;
  --teal-800: #115d55;
  --teal-900: #134d47;
  --teal-950: #0a2926;
  /* cyan */
  --cyan-25: #f5feff;
  --cyan-50: #ebfdff;
  --cyan-100: #cff8fe;
  --cyan-200: #a5f0fb;
  --cyan-300: #67e3f9;
  --cyan-400: #22cbed;
  --cyan-500: #05aed4;
  --cyan-600: #078ab2;
  --cyan-700: #0d6f90;
  --cyan-800: #155b75;
  --cyan-900: #154b63;
  --cyan-950: #0d2d3a;
  /* blue light */
  --blue-light-25: #f4faff;
  --blue-light-50: #f0f9ff;
  --blue-light-100: #dff2fe;
  --blue-light-200: #b9e5fd;
  --blue-light-300: #7bd4fd;
  --blue-light-400: #36bff9;
  --blue-light-500: #0ba4eb;
  --blue-light-600: #0085c9;
  --blue-light-700: #016aa2;
  --blue-light-800: #055986;
  --blue-light-900: #0a4a6f;
  --blue-light-950: #062b40;
  /* blue */
  --blue-25: #f4f9ff;
  --blue-50: #eff8ff;
  --blue-100: #d1e9ff;
  --blue-200: #b2ddff;
  --blue-300: #84caff;
  --blue-400: #53b0fd;
  --blue-500: #2e90fa;
  --blue-600: #156fee;
  --blue-700: #175cd3;
  --blue-800: #1849a9;
  --blue-900: #194084;
  --blue-950: #102955;
  /* blue dark */
  --blue-dark-25: #f4f8ff;
  --blue-dark-50: #eff4ff;
  --blue-dark-100: #d1e0ff;
  --blue-dark-200: #b2cbff;
  --blue-dark-300: #83adff;
  --blue-dark-400: #518bff;
  --blue-dark-500: #2970fe;
  --blue-dark-600: #155dee;
  --blue-dark-700: #004eea;
  --blue-dark-800: #0040c1;
  --blue-dark-900: #00349e;
  --blue-dark-950: #002266;
  /* indigo */
  --indigo-25: #f5f8ff;
  --indigo-50: #eef3ff;
  --indigo-100: #dfeaff;
  --indigo-200: #c6d7fe;
  --indigo-300: #a3bbfd;
  --indigo-400: #7f98f9;
  --indigo-500: #6071f3;
  --indigo-600: #444ce6;
  --indigo-700: #3537cc;
  --indigo-800: #2d31a5;
  --indigo-900: #2c3282;
  --indigo-950: #1f235b;
  /* violet */
  --violet-25: #faf9ff;
  --violet-50: #f4f3ff;
  --violet-100: #ece8fe;
  --violet-200: #dcd5fe;
  --violet-300: #c3b4fd;
  --violet-400: #a48afa;
  --violet-500: #875af7;
  --violet-600: #7839ed;
  --violet-700: #6826da;
  --violet-800: #5720b6;
  --violet-900: #481c95;
  --violet-950: #2e125e;
  /* purple */
  --purple-25: #faf9ff;
  --purple-50: #f3f3ff;
  --purple-100: #eae8fe;
  --purple-200: #d9d5fe;
  --purple-300: #bcb4fd;
  --purple-400: #9a89fb;
  --purple-500: #7959f8;
  --purple-600: #6838ee;
  --purple-700: #5925db;
  --purple-800: #4a1fb7;
  --purple-900: #3e1b96;
  --purple-950: #27115e;
  /* fuchsia */
  --fuchsia-25: #fef9fe;
  --fuchsia-50: #fdf4fe;
  --fuchsia-100: #fae8fe;
  --fuchsia-200: #f6d0fd;
  --fuchsia-300: #edaafc;
  --fuchsia-400: #e477fa;
  --fuchsia-500: #d444f0;
  --fuchsia-600: #ba24d4;
  --fuchsia-700: #9f1ab0;
  --fuchsia-800: #821790;
  --fuchsia-900: #6e1876;
  --fuchsia-950: #4e0d30;
  /* pink */
  --pink-25: #fdf6fb;
  --pink-50: #fdf1f9;
  --pink-100: #fce6f5;
  --pink-200: #fbceee;
  --pink-300: #f9a7df;
  --pink-400: #f570c7;
  --pink-500: #ed46bb;
  --pink-600: #dc2590;
  --pink-700: #c01573;
  --pink-800: #9e155e;
  --pink-900: #841651;
  --pink-950: #4e0d30;
  /* rose */
  --rose-25: #fff4f6;
  --rose-50: #fef1f2;
  --rose-100: #ffe3e7;
  --rose-200: #feccd5;
  --rose-300: #fea2b3;
  --rose-400: #fc6f8d;
  --rose-500: #f53d68;
  --rose-600: #e31a53;
  --rose-700: #c00f47;
  --rose-800: #a10f42;
  --rose-900: #89113d;
  --rose-950: #510a24;
  /* orange dark */
  --orange-dark-25: #fff8f4;
  --orange-dark-50: #fff3ed;
  --orange-dark-100: #ffe5d5;
  --orange-dark-200: #fed6ad;
  --orange-dark-300: #ff9b65;
  --orange-dark-400: #fe692d;
  --orange-dark-500: #ff4305;
  --orange-dark-600: #e52d04;
  --orange-dark-700: #bb1b05;
  --orange-dark-800: #96170c;
  --orange-dark-900: #77190d;
  --orange-dark-950: #571209;
  /* orange */
  --orange-25: #fef9f5;
  --orange-50: #fef5ed;
  --orange-100: #fcead7;
  --orange-200: #f8dbaf;
  --orange-300: #f7b279;
  --orange-400: #f38743;
  --orange-500: #ef681f;
  --orange-600: #df4f16;
  --orange-700: #b93814;
  --orange-800: #932f18;
  --orange-900: #762817;
  --orange-950: #501b0f;
  /* yellow */
  --yellow-25: #fefcf0;
  --yellow-50: #fefbe8;
  --yellow-100: #fdf7c3;
  --yellow-200: #feee95;
  --yellow-300: #fde272;
  --yellow-400: #fac414;
  --yellow-500: #eaa907;
  --yellow-600: #ca8403;
  --yellow-700: #a15b06;
  --yellow-800: #85490d;
  --yellow-900: #713b11;
  --yellow-950: #542c0d;

  // Spacing
  --space-0: 0px;
  --space-0-5: 2px;
  --space-1: 4px;
  --space-1-5: 6px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;
  --space-12: 48px;
  --space-16: 64px;
  --space-20: 80px;
  --space-24: 96px;
  --space-32: 128px;
  --space-40: 160px;
  --space-48: 192px;
  --space-56: 224px;
  --space-64: 256px;
  --space-80: 320px;
  --space-96: 384px;
  --space-120: 480px;
  --space-140: 560px;
  --space-160: 640px;
  --space-180: 720px;
  --space-192: 768px;
  --space-256: 1024px;
  --space-320: 1280px;
  --space-360: 1440px;
  --space-400: 1600px;
  --space-480: 1920px;

  // Radius
  --radius-none: 0px;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;
  --radius-5xl: 32px;
  --radius-full: 9999px;

  // Font Sizes
  --font-size-text-xxs: 10px;
  --font-size-text-xs: 12px;
  --font-size-text-sm: 14px;
  --font-size-text-md: 16px;
  --font-size-text-lg: 18px;
  --font-size-text-xl: 20px;
  --font-size-display-xs: 24px;
  --font-size-display-sm: 30px;
  --font-size-display-md: 36px;
  --font-size-display-lg: 48px;
  --font-size-display-xl: 60px;
  --font-size-display-2xl: 72px;

  // Line Heights
  --line-height-text-xs: 18px;
  --line-height-text-sm: 20px;
  --line-height-text-md: 24px;
  --line-height-text-lg: 28px;
  --line-height-text-xl: 30px;
  --line-height-display-xs: 32px;
  --line-height-display-sm: 38px;
  --line-height-display-md: 44px;
  --line-height-display-lg: 60px;
  --line-height-display-xl: 72px;
  --line-height-display-2xl: 90px;

  --tree-error: #ce0000;
  --tree-error-light_2: #fcd901;
  --tree-error-light: #f7d6d6;
  --tree-warning: #ff7a00;
  --tree-warning-light: #ffead6;
  --tree-success: #008d1f;
  --tree-success-light: #ffffff;
}
