@use "/src/assets/styles/mixins" as *;

.tabs {
  @include flex-center();
  padding: var(--spacing-xs);
  gap: var(--spacing-xs);
  height: 40px;
  min-width: fit-content;
  scroll-behavior: smooth;
  background-color: var(--bg-secondary-alt);
  @include border-style(var(--border-secondary), var(--radius-lg));
  flex-grow: 1;
  @include respond-to("xl") {
    min-width: unset;
    justify-content: flex-start;
    // flex-grow: unset;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__item {
    height: 100%;
    width: 100%;
    .tab-button {
      @include text-style(text-quaternary-500, text-sm, 600, text-sm);
      height: 100%;
      width: 100%;
      padding: var(--spacing-md) var(--spacing-lg);
      background-color: transparent;
      white-space: nowrap;
      border: none;
      transition: background-color 0.2s, color 0.2s;
      outline: none;
      @include flex-center(center, center);

      &.active-tab {
        border-radius: var(--radius-sm);
        border: 1px solid var(--border-brand);
        background: var(--bg-brand-primary);
        color: var(--text-brand-secondary-700);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
